.color-red {
    color: red !important; // Define a cor do texto como vermelho, forçando essa regra
}

.color-green {
    color: green !important; // Define a cor do texto como verde, forçando essa regra
}

.background-red {
    background-color: red !important; // Define a cor de fundo como vermelho, forçando essa regra
}

.background-white {
    background-color: white !important; // Define a cor de fundo como branco, forçando essa regra
}

.background-darkgray {
    background-color: #121212 !important; // Define a cor de fundo como cinza escuro, forçando essa regra
}

.background-darkgreen {
    background-color: #244241 !important; // Define a cor de fundo como verde escuro, forçando essa regra
}