.fs-30 {
    font-size: 30px !important; // Define o tamanho da fonte como 30 pixels, forçando essa regra
}

.fs-47 {
    font-size: 47px !important; // Define o tamanho da fonte como 47 pixels, forçando essa regra
}

.fs-50 {
    font-size: 50px !important; // Define o tamanho da fonte como 50 pixels, forçando essa regra
}