.w-38_67 {
    width: 38.67px !important; // Define a largura como 38.67 pixels, forçando essa regra
}

.w-2 {
    width: 2px !important; // Define a largura como 2 pixels, forçando essa regra
}

.h-52 {
    height: 52px !important; // Define a altura como 52 pixels, forçando essa regra
}

.mt-86 {
    margin-top: 86px !important; // Define a margem superior como 86 pixels, forçando essa regra
}